@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #1b2a4e;
  --primary: #003485;
  --p700: #0e3d91;
  --dark-blue: #002270;
  --secondary: #e02428;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --primary: var(--primary);
  --text-color: var(--text-color);
  --p700: var(--p700);
  --secondary: var(--secondary);
  --dark-blue: var(--dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
